.resetPasswordPage__section {
    margin: 0 auto;
}

.resetPasswordPage__form {
    text-align: center;
    margin: 0.5rem;
}

.resetPasswordPage__inputNewPassword,
.resetPasswordPage__inputConfirmNewPassword {
    display: block;  
    margin: 1rem auto 0; 
    width: 90vw;  
    background-color: transparent; 
    border: 1px solid white;      
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    color: white;
}

.resetPasswordPage__inputNewPassword::placeholder,
.resetPasswordPage__inputConfirmNewPassword::placeholder {
    color: gray; 
    opacity: 1; 
}

.resetPasswordPage__anchor {
    text-decoration: none;
    color: white; 
}

.resetPasswordPage__anchor:visited {
    color: white; 
}

.resetPasswordPage__resetPasswordButton {
    background-color: #B87333; 
    border: none; 
    color: white;
    padding: 0.5rem; 
    text-align: center;
    display: block;
    font-size: 1rem; 
    margin: 0 auto;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s, transform 0.3s; 
    width: 90vw;
    margin-top: 1rem;
}

.resetPasswordPage__resetPasswordButton:hover {
    background-color: #D29C6F; 
}

@media (min-width: 450px) {
    .resetPasswordPage__inputNewPassword,
    .resetPasswordPage__inputConfirmNewPassword,
    .resetPasswordPage__resetPasswordButton {
        width: 55vw;
    }
}

@media (min-width: 1024px) {
    .resetPasswordPage__inputNewPassword,
    .resetPasswordPage__inputConfirmNewPassword,
    .resetPasswordPage__resetPasswordButton {
        width: 35vw;
    }
}

@media (min-width: 1920px) {
    .resetPasswordPage__inputNewPassword,
    .resetPasswordPage__inputConfirmNewPassword,
    .resetPasswordPage__resetPasswordButton {
        width: 20vw;
    }
}

