@media (min-width: 450px) {
    input, h6, button {
        width: 55vw;
    }
    img {
        width: 150px;
    }
}

@media (min-width: 1024px) {
    input, h6, button {
        width: 35vw;
    }
}

@media (min-width: 1920px) {
    input, h6, button {
        width: 20vw;
    }
}