.forgotPasswordForm__section {
    margin: 0 auto;
}

.forgotPasswordForm__form {
    text-align: center;
    margin: 0.5rem;
}

.forgotPasswordForm__inputEmail {
    display: block;  
    margin: 1rem auto 0; 
    width: 90vw;  
    background-color: transparent; 
    border: 1px solid white;      
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    color: white;
}

.forgotPasswordForm__inputEmail::placeholder {
    color: gray; 
    opacity: 1; 
}

.forgotPasswordForm__backToLogin {
    width: 90vw;
    text-align: end;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 1rem;
}

.forgotPasswordForm__backLinkAnchor {
    text-decoration: none;
    color: white; 
}

.forgotPasswordForm__backLinkAnchor:visited {
    color: white; 
}

.forgotPasswordForm__resetPasswordBtn {
    background-color: #B87333; 
    border: none; 
    color: white;
    padding: 0.5rem; 
    text-align: center;
    display: block;
    font-size: 1rem; 
    margin: 0 auto;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s, transform 0.3s; 
    width: 90vw;
}

@media (min-width: 450px) {
    .forgotPasswordForm__inputEmail,
    .forgotPasswordForm__backToLogin,
    .forgotPasswordForm__resetPasswordBtn {
        width: 55vw;
    }
}

@media (min-width: 1024px) {
    .forgotPasswordForm__inputEmail,
    .forgotPasswordForm__backToLogin,
    .forgotPasswordForm__resetPasswordBtn {
        width: 35vw;
    }
}

@media (min-width: 1920px) {
    .forgotPasswordForm__inputEmail,
    .forgotPasswordForm__backToLogin,
    .forgotPasswordForm__resetPasswordBtn {
        width: 20vw;
    }
}