.loginForm__section {
    margin: 0 auto;
}

.loginForm__form {
    text-align: center;
    margin: 0.5rem;
}

.loginForm__inputUsername,
.loginForm__inputPassword {
    display: block;  
    margin: 1rem auto 0; 
    width: 90vw;  
    background-color: transparent; 
    border: 1px solid white;      
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    color: white;
}

.loginForm__inputUsername::placeholder,
.loginForm__inputPassword::placeholder {
    color: gray; 
    opacity: 1; 
}

.loginForm__forgotPassword {
    width: 90vw;
    text-align: end;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 1rem;
}

.loginForm__forgotPasswordAnchor {
    text-decoration: none;
    color: white; 
}

.loginForm__forgotPasswordAnchor:visited {
    color: white; 
}

.loginForm__buttonDiv .loginForm__orText {
    text-align: center;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
}

.loginForm__loginButton,
.loginForm__signupButton {
    background-color: #B87333; 
    border: none; 
    color: white;
    padding: 0.5rem; 
    text-align: center;
    display: block;
    font-size: 1rem; 
    margin: 0 auto;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s, transform 0.3s; 
    width: 90vw;
}

.loginForm__loginButton:hover,
.loginForm__signupButton:hover {
    background-color: #D29C6F; 
}

@media (min-width: 450px) {
    .loginForm__inputUsername,
    .loginForm__inputPassword,
    .loginForm__forgotPassword,
    .loginForm__loginButton,
    .loginForm__signupButton,
    .loginForm__buttonDiv .loginForm__orText {
        width: 55vw;
    }
}

@media (min-width: 1024px) {
    .loginForm__inputUsername,
    .loginForm__inputPassword,
    .loginForm__forgotPassword,
    .loginForm__loginButton,
    .loginForm__signupButton,
    .loginForm__buttonDiv .loginForm__orText {
        width: 35vw;
    }
}

@media (min-width: 1920px) {
    .loginForm__inputUsername,
    .loginForm__inputPassword,
    .loginForm__forgotPassword,
    .loginForm__loginButton,
    .loginForm__signupButton,
    .loginForm__buttonDiv .loginForm__orText {
        width: 20vw;
    }
}