.navbar__navbarContainer {
    display: flex;
    flex-direction: column;
    /* transition: top 1s ease; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(50, 50, 50, 0.2);
    z-index: 1000;
    padding: 0 1rem;

}

.navbar__imageAndButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}

.navbar__toggleButton{
    background: transparent;
    color: white;
    border: none;
}

.navbar__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* margin: 0 auto; */
    /* max-width: 1600px; */
}

.navbar__imageDiv {
    
}

.navbar__img {
    width: 50px;
    height: 50px;
}

.navbar__ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
}

.navbar__ulHidden {
    display: none;
}

.navbar__li {
    list-style-type: none;
    margin-bottom: 1rem;
}

.navbar__linkLogout {
    text-decoration: none;
    color: white;
}

/* .navbar__closeButtonLi {} */

/* .navbar__closeButton {
    background: #8B0000;
    border-radius: 20px;
    color: white;
    border: none;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
} */

@media (min-width: 450px) {
    .navbar__navbarContainer {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .navbar__ul {
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
    }

    .navbar__li {
        margin: 1.5rem 1rem;
    }

    .navbar__toggleButton{
        display: none;
    }
}

@media (min-width: 600px) {
    .navbar__linkLogout {
        font-size: 24px;
    }
}