.signUpLogInBanner__section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.signUpLogInBanner__imageContainer {
    display: flex;
    justify-content: center;
}

.signUpLogInBanner__coinImage {
    max-width: 40vw;
}

@media (min-width: 450px) {
    .signUpLogInBanner__coinImage {
        width: 150px;
    }
}