.formSection {
    margin: 0 auto;
}

form {
    text-align: center;
    margin: 0.5rem;
}

input {
    display: block;  
    margin: 1rem auto 0; 
    width: 90vw;  
    background-color: transparent; 
    border: 1px solid white;      
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    color: white;
}

input::placeholder {
    color: gray; 
    opacity: 1; 
}

a {
    text-decoration: none;
    color: white; 
}

a:visited {
    color: white; 
}

.buttonDiv {
    margin-top: 2rem;
}

.buttonDiv h6 {
    width: 90vw;
    text-align: center;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
}

button {
    background-color: #B87333; 
    border: none; 
    color: white;
    padding: 0.5rem; 
    text-align: center;
    display: block;
    font-size: 1rem; 
    margin: 0 auto;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s, transform 0.3s; 
    width: 90vw;
}

button:hover {
    background-color: #D29C6F; 
}