.signUpForm__section {
    margin: 0 auto;
}

.signUpForm__form {
    text-align: center;
    margin: 0.5rem;
}

/* For all inputs */
.signUpForm__inputUsername,
.signUpForm__inputEmail,
.signUpForm__inputPassword,
.signUpForm__inputPasswordConfirm {
    display: block;  
    margin: 1rem auto 0; 
    width: 90vw;  
    background-color: transparent; 
    border: 1px solid white;      
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    color: white;
}

/* For placeholders in all inputs */
.signUpForm__inputUsername::placeholder,
.signUpForm__inputEmail::placeholder,
.signUpForm__inputPassword::placeholder,
.signUpForm__inputPasswordConfirm::placeholder {
    color: gray; 
    opacity: 1; 
}

.signUpForm__buttonDiv {
    margin-top: 2rem;
}

.signUpForm__orText {
    width: 90vw;
    text-align: center;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
}

.signUpForm__signUpButton, /* Updated from submitButton to signUpButton */
.signUpForm__loginButton {
    background-color: #B87333; 
    border: none; 
    color: white;
    padding: 0.5rem; 
    text-align: center;
    display: block;
    font-size: 1rem; 
    margin: 0 auto;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s, transform 0.3s; 
    width: 90vw;
}

.signUpForm__signUpButton:hover, /* Updated hover effect */
.signUpForm__loginButton:hover {
    background-color: #D29C6F; 
}

/* Media Queries */

@media (min-width: 450px) {
    .signUpForm__inputUsername,
    .signUpForm__inputEmail,
    .signUpForm__inputPassword,
    .signUpForm__inputPasswordConfirm,
    .signUpForm__orText,
    .signUpForm__signUpButton,
    .signUpForm__loginButton {
        width: 55vw;
    }
}

@media (min-width: 1024px) {
    .signUpForm__inputUsername,
    .signUpForm__inputEmail,
    .signUpForm__inputPassword,
    .signUpForm__inputPasswordConfirm,
    .signUpForm__orText,
    .signUpForm__signUpButton,
    .signUpForm__loginButton {
        width: 35vw;
    }
}

@media (min-width: 1920px) {
    .signUpForm__inputUsername,
    .signUpForm__inputEmail,
    .signUpForm__inputPassword,
    .signUpForm__inputPasswordConfirm,
    .signUpForm__orText,
    .signUpForm__signUpButton,
    .signUpForm__loginButton {
        width: 20vw;
    }
}